Add a URI validator for AltRepParam and others

A few of the different Parameter Types need to be able to validate URI's.

I'm not currently sure how I want to go about managing content types, so right this second I want to finish up the different Parameter Types and then implement these in a way that makes sense....stay tuned in the comments for more information.

The URI format is defined later in the spec as follows:
```
3.3.13.  URI

   Value Name:  URI

   Purpose:  This value type is used to identify values that contain a
      uniform resource identifier (URI) type of reference to the
      property value.

   Format Definition:  This value type is defined by the following
      notation:

       uri = <As defined in Section 3 of [RFC3986]>

   Description:  This value type might be used to reference binary
      information, for values that are large, or otherwise undesirable
      to include directly in the iCalendar object.

      Property values with this value type MUST follow the generic URI
      syntax defined in [RFC3986].

      When a property parameter value is a URI value type, the URI MUST
      be specified as a quoted-string value.

      No additional content value encoding (i.e., BACKSLASH character
      encoding, see Section 3.3.11) is defined for this value type.

   Example:  The following is a URI for a network file:

       http://example.com/my-report.txt```

With Section 3 of RFC3986 as follows:
```
3.  Syntax Components

   The generic URI syntax consists of a hierarchical sequence of
   components referred to as the scheme, authority, path, query, and
   fragment.

      URI         = scheme ":" hier-part [ "?" query ] [ "#" fragment ]

      hier-part   = "//" authority path-abempty
                  / path-absolute
                  / path-rootless
                  / path-empty

   The scheme and path components are required, though the path may be
   empty (no characters).  When authority is present, the path must
   either be empty or begin with a slash ("/") character.  When
   authority is not present, the path cannot begin with two slash
   characters ("//").  These restrictions result in five different ABNF
   rules for a path (Section 3.3), only one of which will match any
   given URI reference.

   The following are two example URIs and their component parts:

         foo://example.com:8042/over/there?name=ferret#nose
         \_/   \______________/\_________/ \_________/ \__/
          |           |            |            |        |
       scheme     authority       path        query   fragment
          |   _____________________|__
         / \ /                        \
         urn:example:animal:ferret:nose
```

AltRepParam currently does not properly validate these, and needs this feature added to `util.ts` and then enforced in file.

This will also be used by #3